<div *ngIf="actor">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>
        {{ actor.name }}
      </h1>
      <p *ngIf="actor.known_for_department" class="lead">
        Best known for: {{ actor.known_for_department }}
      </p>
    </div>
  </section>

  <div class="container marketing mt-5">
    <div class="row featurette">
      <div class="col-12 col-md-4 mb-4">
        <img
          class="profile-image mb-4"
          src="{{
            actor.profile_path == null
              ? 'assets/no-image.png'
              : 'https://image.tmdb.org/t/p/w600_and_h900_bestv2' +
                actor.profile_path
          }}"
        />
      </div>

      <div class="col-12 col-md-8">
        <h2 *ngIf="actor.biography">Biography</h2>
        <p class="n2br">{{ actor.biography }}</p>

        <ul
          *ngIf="
            actor.place_of_birth == null ||
            actor.deathday == null ||
            actor.gender == null
          "
          class="pl-0 mt-4"
        >
          <h3>Facts</h3>
          <li *ngIf="actor.birthday">
            <span class="font-weight-bold">Birthday:</span> {{ actor.birthday }}
          </li>
          <li *ngIf="actor.place_of_birth">
            <span class="font-weight-bold">Place of birth:</span>
            {{ actor.place_of_birth }}
          </li>
          <li *ngIf="actor.deathday">
            <span class="font-weight-bold">Deathday:</span>
            {{ actor.deathday }}
          </li>
          <li *ngIf="actor.gender">
            <span class="font-weight-bold">Gender:</span>
            {{ gender[actor.gender] }}
          </li>
        </ul>

        <a
          class="btn blue-btn mb-5"
          *ngIf="actor.imdb_id"
          target="_blank"
          href="https://www.imdb.com/name/{{ actor.imdb_id }}/"
          >Link to IMDB</a
        >
      </div>
    </div>

    <hr *ngIf="movies[0]" class="featurette-divider" />

    <h2 *ngIf="movies[0]">Movies by selection</h2>
    <div class="row mt-4">
      <div class="wrapper" *ngFor="let m of movies; let i = index">
        <div *ngIf="i < 12" class="col-6 col-md-2 text-center mb-5">
          <a [routerLink]="['/view-movie', m.id]">
            <img
              src="{{
                m.poster_path == null
                  ? 'assets/no-image.png'
                  : 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' +
                    m.poster_path
              }}"
              class="poster_path bd-placeholder-img card-img-top cast-image"
              width="100%"
              focusable="false"
              role="img"
            />
          </a>
          <a [routerLink]="['/view-actor', m.id]"
            ><h3 class="mt-3">{{ m.original_title }}</h3></a
          >
          <p class="card-text">Character: {{ m.character }}</p>
        </div>
      </div>
    </div>

    <hr *ngIf="tv[0]" class="featurette-divider" />

    <h2 *ngIf="tv[0]">TV-shows by selection</h2>
    <div class="row mt-4">
      <div class="wrapper" *ngFor="let t of tv; let i = index">
        <div *ngIf="i < 12" class="col-6 col-md-2 text-center mb-5">
          <a [routerLink]="['/view-tv', t.id]">
            <img
              src="{{
                t.poster_path == null
                  ? 'assets/no-image.png'
                  : 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' +
                    t.poster_path
              }}"
              class="poster_path bd-placeholder-img card-img-top cast-image"
              width="100%"
              focusable="false"
              role="img"
            />
          </a>
          <a [routerLink]="['/view-actor', t.id]"
            ><h3 class="mt-3">{{ t.name }}</h3></a
          >
          <p *ngIf="t.character" class="card-text">Character: {{ t.character }}</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!actor">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>
        Not available
      </h1>
      <p class="mt-3">
        <span class="lead bg-darken rounded-sm m-1 p-2"
          >Try the search function to find what you are looking for.</span
        >
      </p>
    </div>
  </section>
</div>
