/* Bootstrap */
@import "~bootstrap/dist/css/bootstrap.css";

/* General */
.dark-footer {
  background-color: #222222;
  color: white;
}

.navbar {
  box-shadow: #222222 0 0px 20px;
  background-color: #222222;
  color: white;
}

/* General styling */
body {
  padding: 3rem 0rem;
}

main {
  background-color: rgb(241, 241, 241);
}

footer {
  padding-top: 3rem;
  padding-top: 3rem;
}

/* Text styling */
h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

/* Backgrounds */
.bg-real-dark {
  background-color: #222222;
}

.bg-blue {
  background-color: #1c5d99;
}

.bg-green-blue {
  background-color: #639fab;
}

.bg-darken {
  background-color: darken($color: #2e2c2c, $amount: 5);
}

/* Buttons */
.blue-btn {
  color: #1c5d99;
  border-color: #1c5d99;

  &:hover {
    background-color: #1c5d99;
    border-color: #1c5d99;
    color: white;
  }
}

.green-blue-btn {
  color: #639fab;
  border-color: #639fab;

  &:hover {
    background-color: #639fab;
    border-color: #639fab;
    color: white;
  }
}

.white-btn {
  color: #ffffff;
  border-color: #ffffff;

  &:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #222222;
  }
}

/* Custom bootstrap styling */
.card-text {
  font-size: 0.8rem;
}

.text-muted {
  font-size: 0.7rem;
}

.jumbotron {
  background-color: #2e2c2c;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  border-radius: 0rem;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron .container {
  max-width: 40rem;
}

/* Divider */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.n2br {
  white-space: pre-line;
} 

.wrapper {
  display: contents;
}

.poster_path {
  width: 100%;
}

.small-genre {
  color: white;
  font-size: 0.7rem;
  white-space: nowrap;
}