/* Bootstrap */
@import "~bootstrap/dist/css/bootstrap.css";

/* General */
.dark-footer {
  background-color: #222222;
  color: white;
}

.navbar {
  box-shadow: #222222 0 0px 20px;
  background-color: #222222;
  color: white;
}

/* General styling */
body {
  padding: 3rem 0rem;
}

main {
  background-color: rgb(241, 241, 241);
}

footer {
  padding-top: 3rem;
  padding-top: 3rem;
}

/* Text styling */
h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

/* Backgrounds */
.bg-real-dark {
  background-color: #222222;
}

.bg-blue {
  background-color: #1c5d99;
}

.bg-green-blue {
  background-color: #639fab;
}

.bg-darken {
  background-color: darken($color: #2e2c2c, $amount: 5);
}

/* Buttons */
.blue-btn {
  color: #1c5d99;
  border-color: #1c5d99;

  &:hover {
    background-color: #1c5d99;
    border-color: #1c5d99;
    color: white;
  }
}

.green-blue-btn {
  color: #639fab;
  border-color: #639fab;

  &:hover {
    background-color: #639fab;
    border-color: #639fab;
    color: white;
  }
}

.white-btn {
  color: #ffffff;
  border-color: #ffffff;

  &:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #222222;
  }
}

/* Custom bootstrap styling */
.card-text {
  font-size: 0.8rem;
}

.text-muted {
  font-size: 0.7rem;
}

.jumbotron {
  background-color: #2e2c2c;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  border-radius: 0rem;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron .container {
  max-width: 40rem;
}

/* Divider */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.n2br {
  white-space: pre-line;
} 

.wrapper {
  display: contents;
}

.poster_path {
  width: 100%;
}

.small-genre {
  color: white;
  font-size: 0.7rem;
  white-space: nowrap;
}

/** ============================
 ** variable
 ** ============================ */
 $circular-margin: 0px;
 $break-small: 320px;
 $break-large: 1100px;
  
 /** ============================
  ** function circular-progress
  ** ============================ */
 @function circular-progress($maxPercent, $percent, $color-bar, $color-back) {
   $increment: 360 / $maxPercent;
   $half: round($maxPercent / 2);
   $background-image: '';
   @if $percent < $half {
    $nextdeg: 90deg + ($increment * $percent);
    $background-image: 'linear-gradient(90deg, #{$color-back} 50%, transparent 50%, transparent), linear-gradient(#{$nextdeg}, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';
  
  }
  @else {
    $nextdeg: -90deg + ($increment * ($percent - $half));
    $background-image: 'linear-gradient(#{$nextdeg}, #{$color-bar} 50%, transparent 50%, transparent), linear-gradient(270deg, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';
  
  }
  @return unquote($background-image);
 }
  
  
 /** ============================
 ** Mixins Circular Progress
 ** ============================ */
 @mixin circular-progress($percent-num, $color1:"#03A9F4") {
  //circular-progress function
  //circular-progress($maxPercent, $percent, $color-bar, $color-back);
  // background: circular-progress(100, $percent-num, #03A9F4, #E0E0E0);
  background: circular-progress(100, $percent-num, $color1, #E0E0E0);
  border-radius: 50%;
  height: 30px;
  margin: 2em auto;
  position: relative;
  min-width: 30px;
  margin: $circular-margin;
  transition: all .3s linear;
  &::before {
    background-color: #FAFAFA;
    border-radius: 50%;
    color: rgba(black, .54);
    content: '#{$percent-num}';
    font-size: 0.9rem;
    font-weight: bold;
    height: 100%;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: scale(.80);
    width: 100%;
  }
  &:hover {
    box-shadow: 0 0 100px 1px rgba(255, 214, 112, 0.35);
  }
 }

@for $i from 1 through 100 {
  .circular-progress#{$i} {
    @include circular-progress($i, #3a8fde);
  }
}