<div class="container-fluid head-image p-0">
  <div *ngIf="movies">
    <img
      class="backdrop"
      src="https://image.tmdb.org/t/p/original/{{ movies[randomize].backdrop_path }}"
    />
  </div>
  <div *ngIf="!movies">
    <div class="no-backdrop"></div>
  </div>
  <div class="overlay">
    <div class="cover-text text-center">
      <h1 class="display-4 font-weight-normal">Popular movies</h1>
      <p class="lead font-weight-normal">The most popular movies gathered.</p>
      <a class="btn btn-lg white-btn" routerLink="/list">Take me there</a>
    </div>
  </div>
</div>

<div class="container-fluid head-image p-0">
  <div *ngIf="series">
    <img
      class="backdrop"
      src="https://image.tmdb.org/t/p/original/{{ series[randomize].backdrop_path }}"
    />
  </div>
  <div *ngIf="!series">
    <div class="no-backdrop"></div>
  </div>
  <div class="overlay">
    <div class="cover-text text-center">
      <h1 class="display-4 font-weight-normal">Trending TV-shows</h1>
      <p class="lead font-weight-normal">Gotta catch 'em all.</p>
      <a class="btn btn-lg white-btn" routerLink="/trending-tv">Show me</a>
    </div>
  </div>
</div>

<div
  class="position-relative overflow-hidden p-3 p-md-5 text-center bg-blue text-light mp-1 m-0 search-box"
>
  <div class="col-md-5 p-lg-5 mx-auto my-3">
    <h2 class="display-4 font-weight-normal">Search</h2>
    <p class="lead font-weight-normal mb-4">
      Search for a specific movie or actor here.
    </p>
    <form
      class="my-2 my-lg-0"
      #searchForm="ngForm"
      (ngSubmit)="submitForm(searchForm)"
    >
      <input
        class="form-control mr-sm-2 mb-4"
        name="search"
        type="text"
        placeholder="Search"
        ngModel
        required
      />
      <button class="btn btn-lg white-btn my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</div>
