.container {
  max-width: 960px;
}

.head-image {
  overflow: hidden;
  max-height: 600px;
  position: relative;
}

.backdrop {
  width: 100%;
}

.cover-text {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 1000;
  color: white;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  .cover-text {
    top: 140px;
  }
}

@media (max-width: 576px) {
  .cover-text {
    top: 40px;
    h1, h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
    }
    a, button {
      font-size: 1rem;
    }
  }
  .search-box {
    h1, h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
    }
    a, button {
      font-size: 1rem;
    }
  }
}

.overlay {
  background-color: rgb(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
