<div *ngIf="movie">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>
        {{ movie.title }}
        <span *ngIf="movie.release_date" class="text-muted"
          >({{ movie.release_date.substring(0, 4) }})</span
        >
      </h1>
      <p class="mt-3">
        <span
          *ngFor="let genre of movie.genres"
          class="lead bg-darken rounded-sm m-1 p-2"
          >{{ genre.name }}</span
        >
      </p>
    </div>
  </section>

  <div *ngIf="movie.backdrop_path" class="container-fluid">
    <img
      class="backdrop"
      src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}"
    />
  </div>

  <div class="container marketing mt-5">
    <div class="row featurette">
      <div class="col-12 col-md-3">
        <img
          src="{{
            movie.poster_path == null
              ? 'assets/no-image.png'
              : 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' +
                movie.poster_path
          }}"
          class="poster_path mb-4"
        />
      </div>

      <div class="col-12 col-md-6">
        <h2 *ngIf="movie.overview">Overview</h2>
        <p class="n2br">{{ movie.overview }}</p>
        <h3 *ngIf="movie.popularity">Popularity:</h3>
        <p>{{ movie.popularity }}</p>
      </div>

      <div class="col-12 col-md-3">
        <ul class="pl-0">
          <h2>Facts</h2>
          <li>
            <span *ngIf="movie.release_date" class="font-weight-bold"
              >Released:</span
            >
            {{ movie.release_date }}
          </li>
          <li>
            <span *ngIf="movie.runtime" class="font-weight-bold">Runtime:</span>
            {{ movie.runtime }} minutes
          </li>
          <li>
            <span *ngIf="movie.budget" class="font-weight-bold">Budget:</span>
            {{ movie.budget != 0 ? (movie.budget | currency: "USD") : "" }}
          </li>
          <li>
            <span *ngIf="movie.revenue" class="font-weight-bold">Revenue:</span>
            {{ movie.revenue != 0 ? (movie.revenue | currency: "USD") : "" }}
          </li>
        </ul>
        <a
          class="btn blue-btn"
          *ngIf="movie.imdb_id"
          target="_blank"
          href="https://www.imdb.com/title/{{ movie.imdb_id }}/"
          >Link to IMDB</a
        >
      </div>
    </div>

    <hr *ngIf="cast[0]" class="featurette-divider" />

    <h2 *ngIf="cast[0]">Featured actors</h2>
    <div class="row mt-4">
      <div class="wrapper" *ngFor="let c of cast; let i = index">
        <div *ngIf="i < 12" class="col-2 text-center mb-5">
          <a [routerLink]="['/view-actor', c.id]">
            <img
              src="{{
                c.profile_path == null
                  ? 'assets/no-image.png'
                  : 'https://image.tmdb.org/t/p/w600_and_h900_bestv2' +
                    c.profile_path
              }}"
              class="poster_path bd-placeholder-img card-img-top cast-image"
              width="100%"
              focusable="false"
              role="img"
            />
          </a>
          <a [routerLink]="['/view-actor', c.id]"
            ><h3 class="mt-3">{{ c.name }}</h3></a
          >
          <p class="card-text">Character: {{ c.character }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!movie">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>
        Not available
      </h1>
      <p class="mt-3">
        <span class="lead bg-darken rounded-sm m-1 p-2"
          >Try the search function to find what you are looking for.</span
        >
      </p>
    </div>
  </section>
</div>
